{% extends 'base.html' %}

{% block body_class %}error-404{%endblock %}

{% block content %}

  <div class="message-404">
    <h4 class="display-4">THE PAGE YOU'RE LOOKING FOR DOES NOT EXIST: {{ request.status }}</h4>
    <p class="m-3">
      Sorry, you should <a href="/"><b>go home</b></a>...</p>
    <div class="row">
      <div class="col-sm-8 ml-auto mr-auto">
        <form class="form-inline" action="/users">
          <input name="q" class="form-control mb-0 mr-2" placeholder="Search Warbler">
          <button class="btn btn-default">Search</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}